#projetos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary-5);
    font-family: 'poppins', 'Nunito';
}
.section-title3{
    font-family: 'poppins';
    font-size: 1.75rem;
    color: var(--color-primary-1);
    font-weight: 500;
    padding-bottom: 25px;
}
#subtitle-Projetos{
    font-family: 'Nunito';
    font-size: 1.15rem;
    font-style: italic;
    color: var(--color-primary-1);
    font-weight: 300;
    padding-bottom: 25px;
}